# Python environment
venv/
.venv/
env/

# Python cache
_pycache_/
*.pyc
*.pyo
*.pyd

# Frontend dependencies
node_modules/
dist/
build/

# Local database/logs
*.db
*.log

# OS files
.DS_Store
Thumbs.db
